<!-- comment_display.html -->
{% extends "index.html" %}
{% block content %}
<div class="comment">
    <strong>{{ comment.name }}</strong>
    <p>{{ comment.comment_content }}</p>
    
    {% if user.is_authenticated %}
        <div class="justify-content-center">
            <button id="edit-comment-btn{{ comment.id }}" class="btn btn-secondary btn-dark edit-comment-btn" data-comment-id="{{ comment.id }}">Edit</button>
            <button id="delete-comment-btn{{ comment.id }}" class="btn btn-secondary btn-dark delete-comment-btn" data-comment-id="{{ comment.id }}">Delete</button>
        </div>
        <hr>
        <small class="text-muted">{{ comment.created_on }}</small>
    {% endif %}
</div>
{% endblock %}