{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta name="description" content="Quickfire Bulletin - Your Source for Timely News and Information">
    <title>Quickfire Bulletin</title>

  
    <link
        href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
        rel='stylesheet' type='text/css'>

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

 
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Roboto+Slab&display=swap"
        rel="stylesheet">


</head>

<body class="d-flex flex-column h-100 main-bg">
    <header>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}"><span class="brand"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

       
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                        </li>
                    </ul>

                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Log out</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container text-center">
            <h1 class="headline">Quickfire Bulletin</h1>
        </div>
        <div class="subhead text-center">
            {% now "l, F j, Y P" %}
        </div>
    </header>

   
    <main class="flex-shrink-0 main-bg">
        {% block content %}
  
        {% endblock content %}
    </main>


    <footer>

    </footer>
    {% block javascript %}

    <script src="{% static 'js/UserFeedback.js' %}"></script>
{% endblock javascript %}
</body>

</html>