<!-- comments.html -->

<div class="comments">
    <h3>Comments</h3>
    <ul class="comment-list">
        {% for comment in article.comments.all %}
            <li class="comment">
                <div class="comment-meta">
                    <span class="comment-author">{{ comment.name }}</span>
                    <span class="comment-date">{{ comment.created_on }}</span>
                </div>
                <div class="comment-text">
                    {{ comment.body | safe }} 
                </div>
            </li>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </ul>
</div>

<!-- Comment Form -->
<div class="comment-form">
    <h3>Add a Comment</h3>
    <form method="post" action="{% url 'add_comment_to_article' article.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
