{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 mt-3">
            <div class="row">
                {% for news_article in news_article_list %}
                <div class="col-12">
                    <div class="card mb-4" style="width: 100%; margin: auto;">
                        <div class="card-body">
                            <h2 class="card-title">{{ news_article.title }}</h2>
                            <p class="card-text">{{ news_article.content|linebreaks }}</p>
                            <p class="card-text text-muted h6">{{ news_article.created_on }}</p>
                            {% if user.is_authenticated %}
                            <button id="comment-form{{ news_article.id }}" class="btn btn-secondary btn-dark open-comment-form" data-article-id="{{ news_article.id }}">Add a Comment</button>
                            {% endif %}
                            <hr />

                            <div class="row">
                                <div class="col-12">
                                    <!-- Stored comments according to article-id -->
                                    <div class="comments-section">
                                        {% for comment in news_article.comments.all %}
                                            <div class="comment">
                                                <strong>{{ comment.name }}</strong>
                                                <p>{{ comment.comment_content }}</p>
                                                {% if user.is_authenticated %}
                                                {% include 'comment_display.html' %}
                                                <hr>
                                                <small class="text-muted">{{ comment.created_on }}</small>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal-body">
    {% include 'comment_form.html' %}
</div>
<!-- Pagination -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="{% url 'news_article_list' %}?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
